<div class="roundy">
  <roundy-item ng-repeat="item in items track by $index" index="$index" item="item"></roundy-item>

  <!-- div class="section section-2">
    <div class="content-wrap">
      Firma
    </div>
  </div>
  <div class="section section-3">
    <div class="content-wrap">
      Firma
    </div>
  </div>
  <div class="section section-4">
    <div class="content-wrap">
      Firma
    </div>
  </div>
  <div class="section section-5">
    <div class="content-wrap slika5">
      Firma
    </div>
  </div>
  <div class="section section-6">
    <div class="content-wrap slika6">
      Firma
    </div>
  </div>
  <div class="section section-7">
    <div class="content-wrap">
      Firma
    </div>
  </div>
  <div class="section section-8">
    <div class="content-wrap">
      Firma
    </div>
  </div> -->
</div>