html {
  font-size: 16px;
}

body {
  background: #2c3e50;
  box-sizing: border-box;
  transition: all 0.25s ease-in;
}
*, *:before, *:after {
  box-sizing: inherit;
}

@import "components/navigation/navigation";
@import "components/roundy/roundy";